@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

$poppins: 'Poppins', sans-serif;

$primary_blue: #002E6D;
$secondary_blue: #3473A7;
$primary_red: #FB3449;
$secondary_red: #C1343E;

$primary_text_color: #333333;